<div class='block-news'>
    <h2>{{orders.name}}</h2>
    <p class='text'>{{orders.phone}}</p>
    <p class="summ">ИТОГО:{{summ}} $
    <div id='main' class='cart-list'>
    {% if (!empty({{basket}})) %}
        {% for value in basket %}
        <div class='list-cart'>
            <p class="text-cart">{{value.name}}
                <img src="/img/{{value.image}}">
                <span class="cart-price">Цена:{{value.price}} $</span>
            </p>
        </div>
        {% endfor %}
    {% else %}
        <h2>Товаров нет</h2>
    {% endif %}
    </div>
</div>
