<h2>Каталог</h2>
<div class="catalog">
	<ul class="catalog-menu">
		{% if catalog is not empty %}
        	{% for item in catalog %}
			    <li class="catalog-list">
			        <p class="text">{{item.name}}<span class="price">Цена: {{item.name}}$</span></p>
			        	<a class='catalog-img' href="/?c=product&a=card&id={{item.name}}"> <img src="/img/{{item.name}}"></a>
			        <button class="buy">Купить</button>
			    </li>
				{% endfor %}
			    {% else %}
        <p class="info">Товаров нет</p>
		{% endif %}
	</ul>
	<a class="also" href="/?c=product&a=catalog&page={{page}}">Еще</a>
</div>

